.imgAbout {
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.imgCaf {
    height: 400px;
    width: 400px;
    margin: 5px 10px 5px 10px;
    object-fit: cover;
}
.nuestrasCaf {
    display: flex;
    align-items: center;
}
.nuestrasCaf p{
    text-align: center;
    
    
}