.imgAbout {
    height: 300px;
    width: 300px;
    object-fit: cover;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.imgCaf {
    height: 400px;
    width: 400px;
    margin: 5px 10px 5px 10px;
    object-fit: cover;
}
.nuestrasCaf {
    display: flex;
    align-items: center;
}
.nuestrasCaf p{
    text-align: center;
    
    
    
}
.estiloCajas{
    background-color: #F5F0F6;
    height: min-content;
    margin-left: 15%;
    margin-right: 15%;
    
}
h2{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
}
header {
    text-align: center;
}
main >p{
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
